<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Calendar</title>
    <link rel="stylesheet" href="/stylesheets/calendar.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav_bar">
        <a href="/" class="lin">
          <div class=" nav ">Home</div>
        </a>
        <a href="/attendance-login" class="lin">
          <div class="attendance nav ">Attendance</div>
        </a>
        <a href="/courses-and-materials" class="lin">
          <div class="courses nav ">Courses & Materials</div>
        </a>
        <a href="/circular" class="lin" >
          <div class="circulars nav ">Circulars</div>
        </a>
        <a href="/time-table" class="lin" >
          <div class="timetable nav ">Time Table</div>
        </a>
        <a href="/event-calendar" class="lin">
          <div class="eventcalendars nav "> Event Calendar 
           </div>
        </a>
      </div>
      <div class="year-container">

        <label for="year-v">Select Year:</label>
        <select id="year-v" name="year">
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024" selected>2024</option>
          <option value="2025">2025</option>
        
        
     
          <!-- Add more years as needed -->
        </select>
      </div>
    <div class="eventcalendar_content " id="ec">
      <div id="calendar-container"></div>
    </div>
    
   

      <script src="/javascripts/calendar.js"></script>
    
    
</body>
</html>