<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% include nav.ejs %>


    <div class="main_content">
      <a href="https://www.andhrauniversity.edu.in/" target="_blank" style="text-decoration: none;color: inherit;">
      <div class="university_name">
          <div class="au_logo"></div>ANDHRA UNIVERSITY COLLEGE OF ENGINEERING</div>
        </a>      
        </div>
   

<div class="slideshow-container">

<div class="mySlides fade">  
 
  <img src="/images/au main gate.jpg" style="width:100%; margin-top:5vh">
  <!-- <div class="text">Caption Text</div> -->
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/au main gate 2.jpg" style="width:100%; margin-top:5vh">
  <!-- <div class="text">Caption Two</div> -->
</div>

<div class="mySlides fade">
  <!-- <div class="numbertext">3 / 3</div> -->
  <img src="/images/au-engg.jpg" style="width:100%; margin-top:5vh">
  <!-- <div class="text">Caption Three</div> -->
</div>

<div class="mySlides fade">
  <!-- <div class="numbertext">3 / 3</div> -->
  <img src="/images/campus.jpg" style="width:100%; margin-top:5vh">
  <!-- <div class="text">Caption Three</div> -->
</div>
<div class="mySlides fade">
  <!-- <div class="numbertext">3 / 3</div> -->
  <img src="/images/au lib.jpg" style="width:100%; margin-top:5vh">
  <!-- <div class="text">Caption Three</div> -->
</div>
<div class="mySlides fade">
  <!-- <div class="numbertext">3 / 3</div> -->
  <img src="/images/sothcamp.jpeg" style="width:100%; margin-top:5vh">
  <!-- <div class="text">Caption Three</div> -->
</div>
<div class="mySlides fade">
  <!-- <div class="numbertext">3 / 3</div> -->
  <img src="/images/algo_block.jpeg" style="width:100%; margin-top:5vh">
  <!-- <div class="text">Caption Three</div> -->
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
    


    <div class="prof-conatiner">

       <div class="each-prof">
        <img src="/images/pvgd_prasad_reddy1.jpg" alt="vc">
        <div class="prof-desig">Vice Chancellor</div>
        <div class="prof-name">Prof. PVGD Prasad Reddy</div>
       </div>

       <div class="each-prof">
        <img src="/images/prof. G Sasibhusana rao.jpeg" alt="principal">
        <div class="prof-desig">Principal</div>
        <div class="prof-name">Prof. G Sasibhusana rao</div>
       </div>


       <div class="each-prof">
        <img src="/images/Prof-Kunjam-Nageswara-Rao.jpg" alt="hod">
        <div class="prof-desig" >Head Of Department(IT)</div>
        <div class="prof-name" >Prof. Kunjam Nageswara Rao</div>
       </div>

    </div>

    <div class="footer">

      &copy 2024 all rights reserved
    </div>


    <script src="/javascripts/script.js"></script>
  </div>
</body>
</html>